<h1> <%= @list.name %> </h1>

<% @bookmarks.each do |bookmark| %>
    <%= bookmark.movie.title %>
    <br>
    <%= bookmark.movie.overview %>
    <br>
    <%= bookmark.comment %>
<% end %>

<div>
  <%= link_to "Add a movie", new_list_bookmark_path(@list.id) %>
</div>

<div>
  <%= link_to "Homepage", root_path %>
</div>
